{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://valyalshchikov.ru",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Пользователь",
      "description": "Взаимодействие с пользователями"
    },
    {
      "name": "Роли",
      "description": "Операции с ролями"
    },
    {
      "name": "Статистика",
      "description": "Получить статистику"
    },
    {
      "name": "Вопросы",
      "description": "Операции с вопросами"
    }
  ],
  "paths": {
    "/api/v1/user/changePassword": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Смена пароля",
        "operationId": "updatePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangingPasswordDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/register": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/registerAndLogin": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "operationId": "registerAndLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/postAnswer": {
      "post": {
        "tags": [
          "Вопросы"
        ],
        "summary": "Отправить ответ на вопрос",
        "operationId": "postAnswer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAnswerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAnswerDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/login": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Логин",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/getUser": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Получить конкретного пользователя",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserDtoWithoutPassword"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/getQuestion": {
      "post": {
        "tags": [
          "Вопросы"
        ],
        "summary": "Сгенерировать вопрос",
        "operationId": "getQuestion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPromtDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuestionDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/createUser": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Регистрация с подтверждением через почту",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/confirmationUser": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Отправка кода подтверждения почты",
        "operationId": "confirmationUser",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/registerWithRole": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "operationId": "registerWithRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/getUsersByRole": {
      "post": {
        "tags": [
          "Роли"
        ],
        "summary": "Получить всех пользователей с данной ролью",
        "operationId": "getUsersByRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/getRoles": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Получить роль пользователя",
        "operationId": "getRoles",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/deleteUser": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Удаление пользователя",
        "operationId": "deleteUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/deleteRoleFromUser": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Убрать роль у пользователя",
        "operationId": "deleteRoleFromUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/addRoleToUser": {
      "post": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Добавить роль пользователю",
        "operationId": "addRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRoleDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/getUserStat": {
      "get": {
        "tags": [
          "Статистика"
        ],
        "operationId": "stats",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatCounterWithoutUserDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/getStats": {
      "get": {
        "tags": [
          "Статистика"
        ],
        "summary": "Получить записи статистики о достижении зарегистрированных игроков",
        "operationId": "getAllStats",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatCounterDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/getAllUsers": {
      "get": {
        "tags": [
          "Пользователь"
        ],
        "summary": "Получить список пользователей",
        "operationId": "getAllUsers",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/getAllRoles": {
      "get": {
        "tags": [
          "Роли"
        ],
        "summary": "Получить все роли",
        "operationId": "getRoles_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChangingPasswordDto": {
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "RoleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "UserDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/RoleDto"
          }
        }
      },
      "PostAnswerDto": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "questionId": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          }
        }
      },
      "CheckAnswerDto": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "correctAnswer": {
            "type": "string"
          },
          "correct": {
            "type": "boolean"
          }
        }
      },
      "UserDtoWithoutPassword": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/RoleDto"
          }
        }
      },
      "PromtDto": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "numQuestions": {
            "type": "integer",
            "format": "int32"
          },
          "difficulty": {
            "type": "string"
          },
          "key_words": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RequestPromtDto": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "promt": {
            "$ref": "#/components/schemas/PromtDto"
          }
        }
      },
      "QuestionDto": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "correct_answer": {
            "type": "string"
          }
        }
      },
      "AddRoleDto": {
        "type": "object",
        "properties": {
          "role": {
            "$ref": "#/components/schemas/RoleDto"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "StatCounterWithoutUserDto": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "score": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "StatCounterDto": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          },
          "score": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}